
header{
    background-color: snow;
    height: 50px;

    top: 0;
    width: 100vw;
    position: fixed;
    z-index: 3;
}

header>img{
    width: 10%;
    margin: 7px;
    transition-duration: 2s;
    transition-property: all;
}
header>nav>ul>li>a{
    width: 2vw;
}
header>nav>ul>li>a:hover {
    width: 3vw;
    filter: drop-shadow(0 0 1vw black);
}
header>nav>ul>li {
    display: inline;
    margin-right: 20px;
}
header>nav>ul>li>a{
    width: 2vw;
    text-decoration: none;
    color: #0C1154;
}
header>nav>ul{
    position: absolute;
    top: 5px;
    right: 25px
}

/*Home ............*/

#section01{
    display: flex;
    right: 0;
    left: 0;
    position: relative;
    width: 100vw;
    height: 100vh;
}
body>section:nth-child(2)>section:nth-child(1){
    width: 60vw;
}
body>section:nth-child(2)>div:nth-child(2){
    width: 40vw;
}
body>section:nth-child(2)>div:nth-child(2)>img{
    width: 40vw;
}
body>section:nth-child(2)>section:nth-child(1)>h1{
    display: flex;
    justify-content: left;
    margin-left: 10vw;
    margin-top: 10vw;
}
body>section:nth-child(2)>section:nth-child(1)>h2:nth-child(2){
    display: flex;
    justify-content: left;
    margin-left: 10vw;
    margin-top: 3vw;
}
body>section:nth-child(2)>section:nth-child(1)>div:nth-child(3){
    display: flex;
    justify-content: left;
    margin-left: 10vw;
    margin-top: 3vw;
    flex-direction: row;
}
body>section:nth-child(2)>section:nth-child(1)>img:nth-child(4){
    display: flex;
    justify-content: left;
    margin-top: -10vw;
}

/*About................*/

#section02{
    position: relative;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
}
body>section:nth-child(3)>section:nth-child(1){
    display: flex;
    margin-top: 5vw;
    width: 40vw;
}
body>section:nth-child(3)>section:nth-child(2){
    margin-top: 5vw;
    width: 60vw;
}
body>section:nth-child(3)>section:nth-child(2)>img:nth-child(2){
    margin-left: 5vw;
}



/*Education*/
#section03{
    position: relative;
    right: 0;
    left:0;
    width: 100vw;
    height: 116vh;
}
body>section:nth-child(4)>div{
    display: flex;
}
.rectangle{
    border: 2px solid black;
    background-color: #BBADAD;
    border-radius: 20px;
}
body>section:nth-child(4)>div:nth-child(3){
    justify-content: right;
    margin-right: 50px;

}
body>section:nth-child(4)>div:nth-child(4){
    justify-content: center;
    margin-top: 50px;

}
body>section:nth-child(4)>div:nth-child(5){
    position: relative;
    top: 50px;
    margin-left: 60px;
    justify-content: start;

}
body>section:nth-child(4)>div:nth-child(3)>img{
    border-radius: 20px;

}
body>section:nth-child(4)>div:nth-child(4)>img{
    border-radius: 20px;
    margin-right: 40px;
}
body>section:nth-child(4)>div:nth-child(5)>img{
    border-radius: 20px;
    margin-right: 40px;
}
body>section:nth-child(4)>img:nth-child(2){
    position: relative;
    top: 10vw;
    left: 20vw;
    /*margin-top: 2vw;*/
    /*padding-left: 42vw;*/
}
body>section:nth-child(4)>img:nth-child(1){
    position: absolute;
    width: 15vw;
}
body>section:nth-child(4)>img:nth-child(6){
    width: 10vw;
    position: relative;
    bottom: 21vw;
    left: 90vw;
}

/*My skills...........*/

#section4{
    width: 100vw;
    height: 50vh;
    position: relative;
    left: 0;
    right: 0;
    background-color: #0C1154;
}
#mySkill{
    position: relative;
    left: 40vw;
}
body>section:nth-child(5)>section:nth-child(2){
    display: flex;
    flex-direction: row;
    margin-top: 7vw;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
}
body>section:nth-child(5)>section:nth-child(2)>div{
    padding-left: 1vw;
}

/*Gallary............*/

#section05{
    position: relative;
    right: 0;
    left: 0;
    width: 100vw;
    margin: auto;
    height: 100vh;
}

body>section:nth-child(6)>img:nth-child(1){
    position: relative;
    left: 35vw;
    width: 20vw;
    top: 4vw;
}

#section05>div>img{
    height: 20vw;
    filter: grayscale(80%);
    transition: 0.5s;
}

#section05>div>img:hover{
    filter: grayscale(0%);
    transition: 0.5s;
}

#section05>div{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 9vw;
}

/*My Pojects..........*/

#section06{
    position: relative;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
}
body>section:nth-child(7)>img:nth-child(1){
    top: 5vw;
    position: relative;
    left: 30vw;
}
body>section:nth-child(7)>section:nth-child(2){
    margin-top: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
body>section:nth-child(7)>section:nth-child(2)>div>img{
    height: 80vh;
}

/*Contact me..........*/
#section07{
    position: relative;
    left: 0;
    right: 0;
    height: 80vh;
    width: 100vw;
    display: flex;
}
body>section:nth-child(9)>section:nth-child(1){
    display: flex;
    width: 40vw;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #aacccc;
    align-items: center;
}
body>section:nth-child(9)>section:nth-child(2){
    display: flex;
    width: 60vw;
    background-color: #625D5D;
}
.txtfeaild{
    position: relative;
    left: 3vw;
    width: 50vw;
    height: 70px;
    border-radius: 20px;
}
#textArea{
    position: relative;
    left: 3vw;
    border-radius: 20px;
    width:50vw ;
    height: 150px;
}
#btnSubmit{
    position: relative;
    left: 3vw;
    width: 10vw;
    height: 10vh;
    border-radius: 20px;
    background-color: #0C1154;
    color: #aacccc;
    font-weight: bolder;
}
body>section:nth-child(9)>section:nth-child(1)>div:nth-child(3){
    margin-left: 6.6vw;
}
body>section:nth-child(9)>section:nth-child(1)>div:nth-child(5){
    margin-left: 3vw;
}
#getInTouch{
    margin-left: 20vw;
    color: whitesmoke;
    font-family: "Rasa SemiBold";
}

/*Footer.....*/
footer{
    background-color: #14213D;
    position: relative;
    left: 0;
    right: 0;
    width: 100vw;
    height: 20vw;
}
footer>div:nth-child(4)>small{
    position: absolute;
    bottom: 0;
    left: 30vw;
    color: whitesmoke;
}
.vector{
    height: 20vh;
}
footer>div:nth-child(2){
    position: absolute;
    bottom: 0;
    right: 0;
}
footer>div:nth-child(6){
    position: absolute;
    top: 0;
    left: 0;
}
#nav01{
    position: absolute;
    top: 6vw;
    right: 0;
    left: 0;
    bottom: 0;
}
#nav02{
    right: 7vw;
    top: 13vw;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-content: space-around;
    align-items: center;
}
footer>div:nth-child(5){
    position: absolute;
    bottom: 0;
    left: 30vw;
    color: whitesmoke;
}
footer>h2:nth-child(1){
    color: whitesmoke;
    font-family:Mandali;
    font-size: 2vw;
    font-weight: bold;
    position: absolute;
    display: inline-block;
    top: 0;
    left: 40vw;
}
footer>nav>ul>li {
    display: inline;
    margin-right: 20px;
}
footer>nav>ul>li>a{
    text-decoration: none;
    color: whitesmoke;
}
footer>nav:nth-child(2)>ul {
    position: absolute;
    bottom: 5px;
    right: 40vw;
}
*{
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 0.7vw;
    background-color: #505253;
}
footer>nav:nth-child(3){
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/*@media all and (max-width: 320px) {*/
/*    footer{*/
/*        display: none;*/
/*    }*/
/*    header{*/
/*        background-color: snow;*/
/*        height: 50px;*/

/*        top: 0;*/
/*        width: 100vw;*/
/*        position: fixed;*/
/*        z-index: 3;*/
/*    }*/
/*    header>img{*/
/*        width: 10%;*/
/*        margin: 7px;*/
/*        transition-duration: 2s;*/
/*        transition-property: all;*/
/*    }*/
/*    header>nav>ul>li>a{*/
/*        width: 2vw;*/
/*    }*/
/*    header>nav>ul>li>a:hover {*/
/*        width: 3vw;*/
/*        filter: drop-shadow(0 0 1vw black);*/
/*    }*/
/*    header>nav>ul>li {*/
/*        display: inline;*/
/*        margin-right: 20px;*/
/*    }*/
/*    header>nav>ul>li>a{*/
/*        width: 2vw;*/
/*        text-decoration: none;*/
/*        color: #0C1154;*/
/*    }*/
/*    header>nav>ul{*/
/*        position: absolute;*/
/*        top: 5px;*/
/*        right: 25px*/
/*    }*/

/*    !*Home ............*!*/
/*    #section01{*/
/*        right: 0;*/
/*        left: 0;*/
/*        position: relative;*/
/*        width: 100vw;*/
/*        height: 70vh;*/
/*    }*/
/*    body>section:nth-child(2)>section:nth-child(1){*/
/*        width: 60vw;*/
/*    }*/
/*    body>section:nth-child(2)>div:nth-child(2){*/
/*        position: relative;*/
/*        right: 31vw;*/
/*    }*/
/*    body>section:nth-child(2)>div:nth-child(2)>img{*/
/*        right: 17vw;*/
/*        top: 15vw;*/
/*        position: relative;*/
/*        width: 67vw;*/
/*    }*/
/*    body>section:nth-child(2)>section:nth-child(1)>h1{*/
/*        width: 72vw;*/
/*        font-size: 5vw;*/
/*        justify-content: left;*/
/*        margin-left: 10vw;*/
/*        margin-top: 93vw;*/
/*    }*/
/*    body>section:nth-child(2)>section:nth-child(1)>h2:nth-child(2){*/
/*        margin-left: 10vw;*/
/*        margin-top: 3vw;*/
/*    }*/
/*    body>section:nth-child(2)>section:nth-child(1)>div:nth-child(3){*/
/*        margin-left: 10vw;*/
/*        margin-top: 3vw;*/
/*        flex-direction: row;*/
/*    }*/
/*    body>section:nth-child(2)>section:nth-child(1)>img:nth-child(4){*/
/*        display: none;*/
/*    }*/

/*    !*About................*!*/
/*    #whoHeader{*/
/*        left: 20vw;*/
/*        bottom: 93vw;*/
/*        position: relative;*/
/*        width: 34vw;*/
/*    }*/
/*    #whoIam{*/
/*        margin-left: 15vw;*/
/*        margin-top: 21vw;*/
/*        width: 66vw;*/
/*    }*/
/*    body>section:nth-child(3)>img:nth-child(1){*/
/*        left: 14vw;*/
/*        position: relative;*/
/*        width: 57vw;*/
/*    }*/
/*    body>section:nth-child(3)>section:nth-child(2){*/
/*        top: 40vw;*/
/*        position: relative;*/
/*        width: 100vw;*/
/*        right: 53vw;*/
/*    }*/
/*    body>section:nth-child(3)>section:nth-child(2)>pre:nth-child(1){*/
/*        font-size: 3vw;*/
/*        top: 52vw;*/
/*        left: 6vw;*/
/*        position: relative;*/
/*        font-family: Roboto Serif*/
/*    }*/
/*    #section02{*/
/*        right: 0;*/
/*        left: 0;*/
/*        position: relative;*/
/*        width: 100vw;*/
/*        height: 146vh;*/
/*    }*/
/*    #cv{*/
/*        margin-left: 20vw;*/
/*        margin-top: 50vw;*/
/*        width: 33vw;*/
/*    }*/

/*    !*Education.....*!*/

/*    #section03{*/
/*        flex-direction: column;*/
/*        display: flex;*/
/*    }*/
/*    .box{*/
/*        display: flex;*/
/*        flex-wrap: wrap;*/
/*        align-content: stretch;*/
/*        align-items: stretch;*/
/*    }*/
/*    #div01{*/
/*        width: 98vw;*/
/*    }*/
/*    #div02{*/
/*        justify-content: center;*/
/*        margin-top:0px;*/
/*    }*/
/*    #div03{*/
/*        top: 0vw;*/
/*        position: relative;*/
/*        right: 18vw;*/
/*        width: 98vw;*/
/*        justify-content: start;*/
/*    }*/


/*    !*Skills...*!*/
/*    #section4{*/
/*        position: relative;*/
/*        width: 100vw;*/
/*        height: 72vh;*/
/*    }*/
/*    #mySkill {*/
/*        position: relative;*/
/*        left: 0vw;*/
/*    }*/
/*    body>section:nth-child(5)>section:nth-child(2) {*/
/*        display: flex;*/
/*        flex-direction: row;*/
/*        justify-content: center;*/
/*        margin-top: 12vw;*/
/*        flex-wrap: wrap;*/
/*    }*/

/*    #section05{*/
/*        position: relative;*/
/*        right: 0;*/
/*        left: 0;*/
/*        width: 100vw;*/
/*        margin: auto;*/
/*        height: 50vh;*/
/*    }*/
/*    #section05>div>img {*/
/*        height: 30vw;*/
/*        filter: grayscale(80%);*/
/*        transition: 0.5s;*/
/*    }*/

/*    #section06{*/
/*        position: relative;*/
/*        left: 0;*/
/*        right: 0;*/
/*        width: 100vw;*/
/*        height: 265vh;*/
/*    }*/
/*    body>section:nth-child(7)>section:nth-child(2) {*/
/*        margin-top: 5vw;*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        justify-content: center;*/
/*    }*/
/*    body>section:nth-child(7)>img:nth-child(1) {*/
/*        width: 75vw;*/
/*        top: 5vw;*/
/*        position: relative;*/
/*        left: 0vw;*/
/*    }*/
/*    #section07 {*/
/*        position: relative;*/
/*        left: 0;*/
/*        right: 0;*/
/*        height: 122vh;*/
/*        width: 100vw;*/
/*        display: flex;*/
/*    }*/
/*    #btnSubmit {*/
/*        position: relative;*/
/*        left: 3vw;*/
/*        width: 47vw;*/
/*        height: 10vh;*/
/*        border-radius: 20px;*/
/*        background-color: #0C1154;*/
/*        color: #aacccc;*/
/*        font-weight: bolder;*/
/*    }*/
/*}*/

/*@media all and (min-width: 321px) and (max-width: 375px){*/
/*    footer{*/
/*        display: none;*/
/*    }*/
/*    header{*/
/*        background-color: snow;*/
/*        height: 50px;*/

/*        top: 0;*/
/*        width: 100vw;*/
/*        position: fixed;*/
/*        z-index: 3;*/
/*    }*/
/*    header>img{*/
/*        width: 10%;*/
/*        margin: 7px;*/
/*        transition-duration: 2s;*/
/*        transition-property: all;*/
/*    }*/
/*    header>nav>ul>li>a{*/
/*        width: 2vw;*/
/*    }*/
/*    header>nav>ul>li>a:hover {*/
/*        width: 3vw;*/
/*        filter: drop-shadow(0 0 1vw black);*/
/*    }*/
/*    header>nav>ul>li {*/
/*        display: inline;*/
/*        margin-right: 20px;*/
/*    }*/
/*    header>nav>ul>li>a{*/
/*        width: 2vw;*/
/*        text-decoration: none;*/
/*        color: #0C1154;*/
/*    }*/
/*    header>nav>ul{*/
/*        position: absolute;*/
/*        top: 5px;*/
/*        right: 25px*/
/*    }*/

/*    !*Home ............*!*/
/*    #section01{*/
/*        right: 0;*/
/*        left: 0;*/
/*        position: relative;*/
/*        width: 100vw;*/
/*        height: 118vh;*/
/*    }*/
/*    body>section:nth-child(2)>section:nth-child(1){*/
/*        width: 60vw;*/
/*    }*/
/*    body>section:nth-child(2)>div:nth-child(2){*/
/*        position: relative;*/
/*        right: 31vw;*/
/*    }*/
/*    body>section:nth-child(2)>div:nth-child(2)>img {*/
/*        right: 26vw;*/
/*        top: 15vw;*/
/*        position: relative;*/
/*        width: 82vw;*/
/*    }*/
/*    body>section:nth-child(2)>section:nth-child(1)>h1 {*/
/*        width: 72vw;*/
/*        font-size: 7vw;*/
/*        justify-content: left;*/
/*        margin-left: 15vw;*/
/*        margin-top: 110vw;*/
/*    }*/
/*    body>section:nth-child(2)>section:nth-child(1)>h2:nth-child(2) {*/
/*        margin-left: 14vw;*/
/*        margin-top: 9vw;*/
/*    }*/
/*    body>section:nth-child(2)>section:nth-child(1)>div:nth-child(3){*/
/*        margin-left: 10vw;*/
/*        margin-top: 3vw;*/
/*        flex-direction: row;*/
/*    }*/
/*    body>section:nth-child(2)>section:nth-child(1)>img:nth-child(4){*/
/*        display: none;*/
/*    }*/

/*    !*About................*!*/
/*    #whoHeader{*/
/*        left: 20vw;*/
/*        bottom: 142vw;*/
/*        position: relative;*/
/*        width: 34vw;*/
/*    }*/

/*    body>section:nth-child(3)>img:nth-child(1){*/
/*        left: 14vw;*/
/*        position: relative;*/
/*        width: 57vw;*/
/*    }*/
/*    body>section:nth-child(3)>section:nth-child(2){*/
/*        top: 92vw;*/
/*        position: relative;*/
/*        width: 100vw;*/
/*        right: 71vw;*/
/*    }*/
/*    body>section:nth-child(3)>section:nth-child(2)>pre:nth-child(1) {*/
/*        font-size: 3vw;*/
/*        top: 49vw;*/
/*        left: 6vw;*/
/*        position: relative;*/
/*        font-family: Roboto Serif;*/
/*    }*/
/*    #section02{*/
/*        right: 0;*/
/*        left: 0;*/
/*        position: relative;*/
/*        width: 100vw;*/
/*        height: 146vh;*/
/*    }*/
/*    #cv{*/
/*        width: 33vw;*/
/*    }*/

/*    !*Education.....*!*/

/*    #section03{*/
/*        flex-direction: column;*/
/*        display: flex;*/
/*    }*/
/*    .box{*/
/*        display: flex;*/
/*        flex-wrap: wrap;*/
/*        align-content: stretch;*/
/*        align-items: stretch;*/
/*    }*/
/*    #div01{*/
/*        width: 98vw;*/
/*    }*/
/*    #div02{*/
/*        justify-content: center;*/
/*        margin-top:0px;*/
/*    }*/
/*    #div03{*/
/*        top: 0vw;*/
/*        position: relative;*/
/*        right: 18vw;*/
/*        width: 98vw;*/
/*        justify-content: start;*/
/*    }*/

/*    body>section:nth-child(4)>img:nth-child(1) {*/
/*        top: 74vw;*/
/*        position: relative;*/
/*        width: 30vw;*/
/*    }*/
/*    body>section:nth-child(4)>img:nth-child(2) {*/
/*        right: 14vw;*/
/*        position: relative;*/
/*        width: 64vw;*/
/*    }*/
/*    body>section:nth-child(4)>div:nth-child(3)>img {*/
/*        right: 21vw;*/
/*        position: relative;*/
/*        border-radius: 20px;*/
/*    }*/
/*    body>section:nth-child(4)>div:nth-child(5)>img {*/
/*        left: 25vw;*/
/*        position: relative;*/
/*        border-radius: 20px;*/
/*    }*/

/*    body>section:nth-child(4)>img:nth-child(6) {*/
/*        display: none;*/
/*    }*/

/*    !*Skills...*!*/
/*    #section4{*/
/*        position: relative;*/
/*        width: 100vw;*/
/*        height: 72vh;*/
/*    }*/
/*    #mySkill {*/
/*        position: relative;*/
/*        left: 0vw;*/
/*    }*/
/*    body>section:nth-child(5)>section:nth-child(2) {*/
/*        display: flex;*/
/*        flex-direction: row;*/
/*        justify-content: center;*/
/*        margin-top: 12vw;*/
/*        flex-wrap: wrap;*/
/*    }*/

/*    #section05{*/
/*        position: relative;*/
/*        right: 0;*/
/*        left: 0;*/
/*        width: 100vw;*/
/*        margin: auto;*/
/*        height: 50vh;*/
/*    }*/
/*    #section05>div>img {*/
/*        height: 30vw;*/
/*        filter: grayscale(80%);*/
/*        transition: 0.5s;*/
/*    }*/

/*    #section06{*/
/*        position: relative;*/
/*        left: 0;*/
/*        right: 0;*/
/*        width: 100vw;*/
/*        height: 265vh;*/
/*    }*/
/*    body>section:nth-child(7)>section:nth-child(2) {*/
/*        margin-left: 9vw;*/
/*        margin-top: 5vw;*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        justify-content: center;*/
/*    }*/
/*    body>section:nth-child(7)>img:nth-child(1) {*/
/*        width: 75vw;*/
/*        top: 5vw;*/
/*        position: relative;*/
/*        left: 0vw;*/
/*    }*/
/*    #section07 {*/
/*        position: relative;*/
/*        left: 0;*/
/*        right: 0;*/
/*        height: 122vh;*/
/*        width: 100vw;*/
/*        display: flex;*/
/*    }*/
/*    #btnSubmit {*/
/*        position: relative;*/
/*        left: 3vw;*/
/*        width: 47vw;*/
/*        height: 10vh;*/
/*        border-radius: 20px;*/
/*        background-color: #0C1154;*/
/*        color: #aacccc;*/
/*        font-weight: bolder;*/
/*    }*/
/*}*/

/*@media all and (min-width: 376px) and (max-width: 425px){*/
/*    footer{*/
/*        display: none;*/
/*    }*/
/*    header{*/
/*        background-color: snow;*/
/*        height: 50px;*/

/*        top: 0;*/
/*        width: 100vw;*/
/*        position: fixed;*/
/*        z-index: 3;*/
/*    }*/
/*    header>img{*/
/*        width: 10%;*/
/*        margin: 7px;*/
/*        transition-duration: 2s;*/
/*        transition-property: all;*/
/*    }*/
/*    header>nav>ul>li>a{*/
/*        width: 2vw;*/
/*    }*/
/*    header>nav>ul>li>a:hover {*/
/*        width: 3vw;*/
/*        filter: drop-shadow(0 0 1vw black);*/
/*    }*/
/*    header>nav>ul>li {*/
/*        display: inline;*/
/*        margin-right: 20px;*/
/*    }*/
/*    header>nav>ul>li>a{*/
/*        width: 2vw;*/
/*        text-decoration: none;*/
/*        color: #0C1154;*/
/*    }*/
/*    header>nav>ul{*/
/*        position: absolute;*/
/*        top: 5px;*/
/*        right: 25px*/
/*    }*/

/*    !*Home ............*!*/
/*    #section01{*/
/*        right: 0;*/
/*        left: 0;*/
/*        position: relative;*/
/*        width: 100vw;*/
/*        height: 118vh;*/
/*    }*/
/*    body>section:nth-child(2)>section:nth-child(1){*/
/*        width: 60vw;*/
/*    }*/
/*    body>section:nth-child(2)>div:nth-child(2){*/
/*        position: relative;*/
/*        right: 31vw;*/
/*    }*/
/*    body>section:nth-child(2)>div:nth-child(2)>img {*/
/*        right: 26vw;*/
/*        top: 15vw;*/
/*        position: relative;*/
/*        width: 82vw;*/
/*    }*/
/*    body>section:nth-child(2)>section:nth-child(1)>h1 {*/
/*        width: 72vw;*/
/*        font-size: 7vw;*/
/*        justify-content: left;*/
/*        margin-left: 15vw;*/
/*        margin-top: 110vw;*/
/*    }*/
/*    body>section:nth-child(2)>section:nth-child(1)>h2:nth-child(2) {*/
/*        margin-left: 14vw;*/
/*        margin-top: 9vw;*/
/*    }*/
/*    body>section:nth-child(2)>section:nth-child(1)>div:nth-child(3){*/
/*        margin-left: 10vw;*/
/*        margin-top: 3vw;*/
/*        flex-direction: row;*/
/*    }*/
/*    body>section:nth-child(2)>section:nth-child(1)>img:nth-child(4){*/
/*        display: none;*/
/*    }*/

/*    !*About................*!*/
/*    #whoHeader{*/
/*        left: 20vw;*/
/*        bottom: 142vw;*/
/*        position: relative;*/
/*        width: 34vw;*/
/*    }*/

/*    body>section:nth-child(3)>img:nth-child(1){*/
/*        left: 14vw;*/
/*        position: relative;*/
/*        width: 57vw;*/
/*    }*/
/*    body>section:nth-child(3)>section:nth-child(2){*/
/*        top: 92vw;*/
/*        position: relative;*/
/*        width: 100vw;*/
/*        right: 71vw;*/
/*    }*/
/*    body>section:nth-child(3)>section:nth-child(2)>pre:nth-child(1) {*/
/*        font-size: 3vw;*/
/*        top: 49vw;*/
/*        left: 6vw;*/
/*        position: relative;*/
/*        font-family: Roboto Serif;*/
/*    }*/
/*    #section02{*/
/*        right: 0;*/
/*        left: 0;*/
/*        position: relative;*/
/*        width: 100vw;*/
/*        height: 146vh;*/
/*    }*/
/*    #cv{*/
/*        width: 33vw;*/
/*    }*/

/*    !*Education.....*!*/

/*    #section03{*/
/*        flex-direction: column;*/
/*        display: flex;*/
/*    }*/
/*    .box{*/
/*        display: flex;*/
/*        flex-wrap: wrap;*/
/*        align-content: stretch;*/
/*        align-items: stretch;*/
/*    }*/
/*    #div01{*/
/*        width: 98vw;*/
/*    }*/
/*    #div02{*/
/*        justify-content: center;*/
/*        margin-top:0px;*/
/*    }*/
/*    #div03{*/
/*        top: 0vw;*/
/*        position: relative;*/
/*        right: 18vw;*/
/*        width: 98vw;*/
/*        justify-content: start;*/
/*    }*/

/*    body>section:nth-child(4)>img:nth-child(1) {*/
/*        top: 74vw;*/
/*        position: relative;*/
/*        width: 30vw;*/
/*    }*/
/*    body>section:nth-child(4)>img:nth-child(2) {*/
/*        right: 14vw;*/
/*        position: relative;*/
/*        width: 64vw;*/
/*    }*/
/*    body>section:nth-child(4)>div:nth-child(3)>img {*/
/*        right: 21vw;*/
/*        position: relative;*/
/*        border-radius: 20px;*/
/*    }*/
/*    body>section:nth-child(4)>div:nth-child(5)>img {*/
/*        left: 25vw;*/
/*        position: relative;*/
/*        border-radius: 20px;*/
/*    }*/

/*    body>section:nth-child(4)>img:nth-child(6) {*/
/*        display: none;*/
/*    }*/

/*    !*Skills...*!*/
/*    #section4{*/
/*        position: relative;*/
/*        width: 100vw;*/
/*        height: 72vh;*/
/*    }*/
/*    #mySkill {*/
/*        position: relative;*/
/*        left: 0vw;*/
/*    }*/
/*    body>section:nth-child(5)>section:nth-child(2) {*/
/*        display: flex;*/
/*        flex-direction: row;*/
/*        justify-content: center;*/
/*        margin-top: 12vw;*/
/*        flex-wrap: wrap;*/
/*    }*/

/*    #section05{*/
/*        position: relative;*/
/*        right: 0;*/
/*        left: 0;*/
/*        width: 100vw;*/
/*        margin: auto;*/
/*        height: 50vh;*/
/*    }*/
/*    #section05>div>img {*/
/*        height: 30vw;*/
/*        filter: grayscale(80%);*/
/*        transition: 0.5s;*/
/*    }*/

/*    #section06{*/
/*        position: relative;*/
/*        left: 0;*/
/*        right: 0;*/
/*        width: 100vw;*/
/*        height: 265vh;*/
/*    }*/
/*    body>section:nth-child(7)>section:nth-child(2) {*/
/*        margin-left: 9vw;*/
/*        margin-top: 5vw;*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        justify-content: center;*/
/*    }*/
/*    body>section:nth-child(7)>img:nth-child(1) {*/
/*        width: 75vw;*/
/*        top: 5vw;*/
/*        position: relative;*/
/*        left: 0vw;*/
/*    }*/
/*    #section07 {*/
/*        position: relative;*/
/*        left: 0;*/
/*        right: 0;*/
/*        height: 122vh;*/
/*        width: 100vw;*/
/*        display: flex;*/
/*    }*/
/*    #btnSubmit {*/
/*        position: relative;*/
/*        left: 3vw;*/
/*        width: 47vw;*/
/*        height: 10vh;*/
/*        border-radius: 20px;*/
/*        background-color: #0C1154;*/
/*        color: #aacccc;*/
/*        font-weight: bolder;*/
/*    }*/
/*}*/

/*@media all and (min-width: 426px) and (max-width: 580px){*/
/*    footer{*/
/*        display: none;*/
/*    }*/
/*    header{*/
/*        background-color: snow;*/
/*        height: 50px;*/

/*        top: 0;*/
/*        width: 100vw;*/
/*        position: fixed;*/
/*        z-index: 3;*/
/*    }*/
/*    header>img{*/
/*        width: 10%;*/
/*        margin: 7px;*/
/*        transition-duration: 2s;*/
/*        transition-property: all;*/
/*    }*/
/*    header>nav>ul>li>a{*/
/*        width: 2vw;*/
/*    }*/
/*    header>nav>ul>li>a:hover {*/
/*        width: 3vw;*/
/*        filter: drop-shadow(0 0 1vw black);*/
/*    }*/
/*    header>nav>ul>li {*/
/*        display: inline;*/
/*        margin-right: 20px;*/
/*    }*/
/*    header>nav>ul>li>a{*/
/*        width: 2vw;*/
/*        text-decoration: none;*/
/*        color: #0C1154;*/
/*    }*/
/*    header>nav>ul{*/
/*        position: absolute;*/
/*        top: 5px;*/
/*        right: 25px*/
/*    }*/

/*    !*Home ............*!*/
/*    #section01{*/
/*        right: 0;*/
/*        left: 0;*/
/*        position: relative;*/
/*        width: 100vw;*/
/*        height: 133vh;*/
/*    }*/
/*    body>section:nth-child(2)>section:nth-child(1){*/
/*        width: 60vw;*/
/*    }*/
/*    body>section:nth-child(2)>div:nth-child(2){*/
/*        position: relative;*/
/*        right: 31vw;*/
/*    }*/
/*    body>section:nth-child(2)>div:nth-child(2)>img {*/
/*        right: 26vw;*/
/*        top: 15vw;*/
/*        position: relative;*/
/*        width: 82vw;*/
/*    }*/
/*    body>section:nth-child(2)>section:nth-child(1)>h1 {*/
/*        width: 72vw;*/
/*        font-size: 7vw;*/
/*        justify-content: left;*/
/*        margin-left: 15vw;*/
/*        margin-top: 110vw;*/
/*    }*/
/*    body>section:nth-child(2)>section:nth-child(1)>h2:nth-child(2) {*/
/*        margin-left: 14vw;*/
/*        margin-top: 9vw;*/
/*    }*/
/*    body>section:nth-child(2)>section:nth-child(1)>div:nth-child(3){*/
/*        margin-left: 10vw;*/
/*        margin-top: 3vw;*/
/*        flex-direction: row;*/
/*    }*/
/*    body>section:nth-child(2)>section:nth-child(1)>img:nth-child(4){*/
/*        display: none;*/
/*    }*/

/*    !*About................*!*/
/*    #whoHeader{*/
/*        left: 20vw;*/
/*        bottom: 108vw;*/
/*        position: relative;*/
/*        width: 34vw;*/
/*    }*/

/*    body>section:nth-child(3)>img:nth-child(1){*/
/*        margin-top: 26vw;*/
/*        left: 14vw;*/
/*        position: relative;*/
/*        width: 57vw;*/
/*    }*/
/*    body>section:nth-child(3)>section:nth-child(2){*/
/*        top: 92vw;*/
/*        position: relative;*/
/*        width: 100vw;*/
/*        right: 71vw;*/
/*    }*/
/*    body>section:nth-child(3)>section:nth-child(2)>pre:nth-child(1) {*/
/*        margin-top: 25vw;*/
/*        font-size: 3vw;*/
/*        left: 6vw;*/
/*        position: relative;*/
/*        font-family: Roboto Serif;*/
/*    }*/
/*    #section02{*/
/*        right: 0;*/
/*        left: 0;*/
/*        position: relative;*/
/*        width: 100vw;*/
/*        height: 178vh;*/
/*    }*/
/*    #cv{*/
/*        width: 33vw;*/
/*    }*/

/*    !*Education.....*!*/

/*    #section03{*/
/*        position: relative;*/
/*        flex-direction: column;*/
/*        display: flex;*/
/*    }*/
/*    .box{*/
/*        display: flex;*/
/*        flex-wrap: wrap;*/
/*        align-content: stretch;*/
/*        align-items: stretch;*/
/*    }*/
/*    #div01{*/
/*        width: 98vw;*/
/*    }*/
/*    #div02{*/
/*        justify-content: center;*/
/*        margin-top:0px;*/
/*    }*/
/*    #div03{*/
/*        top: 0vw;*/
/*        position: relative;*/
/*        right: 8vw;*/
/*        width: 98vw;*/
/*        justify-content: start;*/
/*    }*/

/*    body>section:nth-child(4)>img:nth-child(1) {*/
/*        position: relative;*/
/*        width: 30vw;*/
/*    }*/
/*    body>section:nth-child(4)>img:nth-child(2) {*/
/*        top: 25vw;*/
/*        right: 14vw;*/
/*        position: absolute;*/
/*        width: 64vw;*/
/*    }*/
/*    body>section:nth-child(4)>div:nth-child(3)>img {*/
/*        right: 21vw;*/
/*        position: relative;*/
/*        border-radius: 20px;*/
/*    }*/
/*    body>section:nth-child(4)>div:nth-child(5)>img {*/
/*        left: 25vw;*/
/*        position: relative;*/
/*        border-radius: 20px;*/
/*    }*/

/*    body>section:nth-child(4)>img:nth-child(6) {*/
/*        display: none;*/
/*    }*/

/*    !*Skills...*!*/
/*    #section4{*/
/*        position: relative;*/
/*        width: 100vw;*/
/*        height: 72vh;*/
/*    }*/
/*    #mySkill {*/
/*        position: relative;*/
/*        left: 0vw;*/
/*    }*/
/*    body>section:nth-child(5)>section:nth-child(2) {*/
/*        display: flex;*/
/*        flex-direction: row;*/
/*        justify-content: center;*/
/*        margin-top: 12vw;*/
/*        flex-wrap: wrap;*/
/*    }*/

/*    #section05{*/
/*        position: relative;*/
/*        right: 0;*/
/*        left: 0;*/
/*        width: 100vw;*/
/*        margin: auto;*/
/*        height: 62vh;*/
/*    }*/
/*    #section05>div>img {*/
/*        height: 30vw;*/
/*        filter: grayscale(80%);*/
/*        transition: 0.5s;*/
/*    }*/

/*    #section06{*/
/*        position: relative;*/
/*        left: 0;*/
/*        right: 0;*/
/*        width: 100vw;*/
/*        height: 265vh;*/
/*    }*/
/*    body>section:nth-child(7)>section:nth-child(2) {*/
/*        margin-left: 9vw;*/
/*        margin-top: 5vw;*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        justify-content: center;*/
/*    }*/
/*    body>section:nth-child(7)>img:nth-child(1) {*/
/*        width: 75vw;*/
/*        top: 5vw;*/
/*        position: relative;*/
/*        left: 0vw;*/
/*    }*/
/*    #section07 {*/
/*        position: relative;*/
/*        left: 0;*/
/*        right: 0;*/
/*        height: 122vh;*/
/*        width: 100vw;*/
/*        display: flex;*/
/*    }*/
/*    #btnSubmit {*/
/*        position: relative;*/
/*        left: 3vw;*/
/*        width: 47vw;*/
/*        height: 10vh;*/
/*        border-radius: 20px;*/
/*        background-color: #0C1154;*/
/*        color: #aacccc;*/
/*        font-weight: bolder;*/
/*    }*/
/*}*/

/*@media all and (min-width: 581px) and (max-width: 768px){*/
/*    footer{*/
/*        display: none;*/
/*    }*/
/*    header{*/
/*        background-color: snow;*/
/*        height: 50px;*/

/*        top: 0;*/
/*        width: 100vw;*/
/*        position: fixed;*/
/*        z-index: 3;*/
/*    }*/
/*    header>img{*/
/*        width: 10%;*/
/*        margin: 7px;*/
/*        transition-duration: 2s;*/
/*        transition-property: all;*/
/*    }*/
/*    header>nav>ul>li>a{*/
/*        width: 2vw;*/
/*    }*/
/*    header>nav>ul>li>a:hover {*/
/*        width: 3vw;*/
/*        filter: drop-shadow(0 0 1vw black);*/
/*    }*/
/*    header>nav>ul>li {*/
/*        display: inline;*/
/*        margin-right: 20px;*/
/*    }*/
/*    header>nav>ul>li>a{*/
/*        width: 2vw;*/
/*        text-decoration: none;*/
/*        color: #0C1154;*/
/*    }*/
/*    header>nav>ul{*/
/*        position: absolute;*/
/*        top: 5px;*/
/*        right: 25px*/
/*    }*/

/*    !*Home ............*!*/
/*    #section01{*/
/*        right: 0;*/
/*        left: 0;*/
/*        position: relative;*/
/*        width: 100vw;*/
/*        height: 177vh;*/
/*    }*/
/*    body>section:nth-child(2)>section:nth-child(1){*/
/*        width: 60vw;*/
/*    }*/
/*    body>section:nth-child(2)>div:nth-child(2){*/
/*        position: relative;*/
/*        right: 31vw;*/
/*    }*/
/*    body>section:nth-child(2)>div:nth-child(2)>img {*/
/*        right: 26vw;*/
/*        top: 15vw;*/
/*        position: relative;*/
/*        width: 82vw;*/
/*    }*/
/*    body>section:nth-child(2)>section:nth-child(1)>h1 {*/
/*        width: 72vw;*/
/*        font-size: 7vw;*/
/*        justify-content: left;*/
/*        margin-left: 15vw;*/
/*        margin-top: 110vw;*/
/*    }*/
/*    body>section:nth-child(2)>section:nth-child(1)>h2:nth-child(2) {*/
/*        margin-left: 14vw;*/
/*        margin-top: 9vw;*/
/*    }*/
/*    body>section:nth-child(2)>section:nth-child(1)>div:nth-child(3){*/
/*        margin-left: 10vw;*/
/*        margin-top: 3vw;*/
/*        flex-direction: row;*/
/*    }*/
/*    body>section:nth-child(2)>section:nth-child(1)>img:nth-child(4){*/
/*        display: none;*/
/*    }*/

/*    !*About................*!*/
/*    #whoHeader{*/
/*        left: 20vw;*/
/*        bottom: 78vw;*/
/*        position: relative;*/
/*        width: 34vw;*/
/*    }*/

/*    body>section:nth-child(3)>img:nth-child(1){*/
/*        margin-top: 11vw;*/
/*        left: 14vw;*/
/*        position: relative;*/
/*        width: 57vw;*/
/*    }*/
/*    body>section:nth-child(3)>section:nth-child(2){*/
/*        top: 92vw;*/
/*        position: relative;*/
/*        width: 100vw;*/
/*        right: 71vw;*/
/*    }*/
/*    body>section:nth-child(3)>section:nth-child(2)>pre:nth-child(1) {*/
/*        margin-top: -16vw;*/
/*        font-size: 3vw;*/
/*        left: 6vw;*/
/*        position: relative;*/
/*        font-family: Roboto Serif;*/
/*    }*/
/*    #section02{*/
/*        right: 0;*/
/*        left: 0;*/
/*        position: relative;*/
/*        width: 100vw;*/
/*        height: 190vh;*/
/*    }*/
/*    #cv{*/
/*        width: 33vw;*/
/*    }*/

/*    !*Education.....*!*/

/*    #section03{*/
/*        position: relative;*/
/*        flex-direction: column;*/
/*        display: flex;*/
/*    }*/
/*    .box{*/
/*        display: flex;*/
/*        flex-wrap: wrap;*/
/*        align-content: stretch;*/
/*        align-items: stretch;*/
/*    }*/
/*    #div01{*/
/*        right: 9vw;*/
/*        position: relative;*/
/*        width: 98vw;*/
/*        bottom: 18vw;*/
/*    }*/
/*    #div02{*/
/*        left: 13vw;*/
/*        width: 82vw;*/
/*        bottom: 11vw;*/
/*        position: relative;*/
/*        justify-content: center;*/
/*        margin-top: 0px;*/
/*    }*/
/*    #div03{*/
/*        top: -5vw;*/
/*        position: relative;*/
/*        right: -6vw;*/
/*        width: 63vw;*/
/*    }*/

/*    body>section:nth-child(4)>img:nth-child(1) {*/
/*        position: relative;*/
/*        width: 30vw;*/
/*    }*/
/*    body>section:nth-child(4)>img:nth-child(2) {*/
/*        top: 25vw;*/
/*        right: 14vw;*/
/*        position: absolute;*/
/*        width: 47vw;*/
/*    }*/
/*    body>section:nth-child(4)>div:nth-child(3)>img {*/
/*        right: 21vw;*/
/*        position: relative;*/
/*        border-radius: 20px;*/
/*    }*/
/*    body>section:nth-child(4)>div:nth-child(5)>img {*/
/*        left: 25vw;*/
/*        position: relative;*/
/*        border-radius: 20px;*/
/*    }*/

/*    body>section:nth-child(4)>img:nth-child(6) {*/
/*        display: none;*/
/*    }*/

/*    !*Skills...*!*/
/*    #section4{*/
/*        position: relative;*/
/*        width: 100vw;*/
/*        height: 72vh;*/
/*    }*/
/*    #mySkill {*/
/*        position: relative;*/
/*        left: 0vw;*/
/*    }*/
/*    body>section:nth-child(5)>section:nth-child(2) {*/
/*        display: flex;*/
/*        flex-direction: row;*/
/*        justify-content: center;*/
/*        margin-top: 12vw;*/
/*        flex-wrap: wrap;*/
/*    }*/

/*    #section05{*/
/*        position: relative;*/
/*        right: 0;*/
/*        left: 0;*/
/*        width: 100vw;*/
/*        margin: auto;*/
/*        height: 83vh;*/
/*    }*/
/*    #section05>div>img {*/
/*        height: 30vw;*/
/*        filter: grayscale(80%);*/
/*        transition: 0.5s;*/
/*    }*/

/*    #section06{*/
/*        position: relative;*/
/*        left: 0;*/
/*        right: 0;*/
/*        width: 100vw;*/
/*        height: 265vh;*/
/*    }*/
/*    body>section:nth-child(7)>section:nth-child(2) {*/
/*        margin-left: 9vw;*/
/*        margin-top: 5vw;*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        justify-content: flex-end;*/
/*        align-items: center;*/
/*    }*/
/*    body>section:nth-child(7)>img:nth-child(1) {*/
/*        width: 75vw;*/
/*        top: 5vw;*/
/*        position: relative;*/
/*        left: 0vw;*/
/*    }*/
/*    #section07 {*/
/*        position: relative;*/
/*        left: 0;*/
/*        right: 0;*/
/*        height: 122vh;*/
/*        width: 100vw;*/
/*        display: flex;*/
/*    }*/
/*    #btnSubmit {*/
/*        position: relative;*/
/*        left: 3vw;*/
/*        width: 47vw;*/
/*        height: 10vh;*/
/*        border-radius: 20px;*/
/*        background-color: #0C1154;*/
/*        color: #aacccc;*/
/*        font-weight: bolder;*/
/*    }*/
/*}*/
