body{
    background-color: #edf2f4;
}
div{
    width: 400px;
    height: 400px;
    background-color: #8d99ae;
    border-radius: 100%;
    border: 30px solid #2b2d42;
    border-top: 30px solid #ef233c;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
div>h1{
    position: absolute;
    height: max-content;
    width: max-content;
    font-size: 70px;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: inline-block;
    color: #edf2f4;
}
div:hover{
    transition: 1.5s;
    transform: rotate(360deg);
}
div:hover h1{
    transition: 1.5s;
    transform: rotate(-360deg);
}