.side-container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: space-around;
}
.side-container>div{
    position: relative;
    width: 400px;
    height: 100px;
    right: 280px;
    border-radius: 20px;
    background-color: #2667ff;
    transition-duration: 1s;
}
.side-container>div:hover{
    transition-property: all;
    right: 1.5vw;
}
.side-container>div>img{
    position: absolute;
    right: 2vw;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 80px;
}
.side-container>div>h1{
    position: relative;
    left: 4vw;
    margin: auto;
    display: inline-block;
    padding-top: 30px;
    color: #FFFFFF;
}